body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

header{
  height: 10vh;
;
}

main{
  flex-grow: 1;
}

footer{
  min-height: 10vh;
}

.hero-image {
  background-image: url(.//graffiti.jpg);
  background-size: cover;
  height: 55vh;
  background-position: center center;
}

.hero-card {
  box-shadow: 1px 1px black
  ;
}

.text-shadow {
  text-shadow: 1px 1px black;
}

.option-list {
  position: relative;
}

.list-card {
  width: 250px;
  top: 0;
  transform: translateY(10%);
  box-shadow: 4px 4px black;
  margin: auto;
}

.main-card {
  width: 250px;
}

.card-bg {
  background-color: rgb(221, 221, 221);
}

.side-image {
  height: 40%;
  border-radius: 5%;
}

.main-text {
  margin-top: 4em;
}